
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

  *{
    font-family: 'Poppins', sans-serif;
  }
  body { 
    margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.header {
  position: relative;
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
  pointer-events: none; /* Prevent the logo from being clickable */
}

.header a.logo img {
  height: 50px; /* Adjust the height as needed */
  width: auto; /* Maintain aspect ratio */
  vertical-align: middle;
}

.header a:hover {
  background-color: #ddd;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

.header a.button-container {
  position: relative;
  display: inline-block;
  margin-right: 5px;
}

.header a.button-container:before,
.header a.button-container:after {
  content: '|';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: black;
  font-weight: bold;
  font-size: 18px;
}

.header a.button-container:before {
  left: -10px;
}

.header a.button-container:after {
  right: -10px;
}

/* Hide the last "|" on the last button */
.header a.button-container:last-child:after {
  display: none;
}

/* Added styles for the title */
.header-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  color: #000; /* Set the title color to black */
}
h2{
    margin: 10px;
    text-align: center;
}
.form {
    text-align: center; /* Center the form elements horizontally */
    margin-top: 20px; /* Add some top margin for spacing */
  }
  .email, .password{
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  label {
    display: inline-block;
    width: 150px;
    text-align: right;
  }